<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.climax.wisdomparking">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".base.Core"
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ＭＥＴＡ－ＤＡＴＡ -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="620c9d24c1779d625b5d906b7b630dd6" />

        <!-- ＳＥＲＶＩＣＥ -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- Ａｃｔｉｖｉｔｙ -->
        <activity android:name=".ui.PeterMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.launch.LaunchActivity" />
        <activity android:name=".ui.account.RegisterActivity" />
        <activity android:name=".ui.account.PasswordSetActivity" />
        <activity android:name=".ui.main.home.city.CityPickerActivity" />
        <activity android:name=".ui.main.home.city.AddressSelectedActivity" />
        <activity android:name=".ui.main.home.city.AddressSettingsActivity" />

        <!-- Weixin -->
        <activity
            android:name="com.cn.climax.i_carlib.platform.weixin.WXCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.cn.climax.i_carlib.platform.weixin.WXCallbackActivity" />

        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1111111" /> <!-- 1111111改为你的qq appid -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微博 -->
        <!-- <activity -->
        <!-- android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- for wechat pay -->
        <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- for wechat pay -->

        <activity android:name=".ui.setting.ModifyProfileActivity" />
        <activity android:name=".ui.setting.MineGarageActivity" />
        <activity android:name=".ui.main.home.MineTravelActivity" />
        <activity android:name=".ui.main.home.CurrentTravelActivity" />
        <activity android:name=".widget.ofo.OfoConvcaveMenuActivity" />
        <activity android:name=".ui.setting.NotifyMineActivity" />
        <activity android:name=".ui.main.device.AddDeviceActivity" />
        <activity android:name=".ui.main.device.ReleaseLockProgressActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceOwnerActivity" />
        <activity android:name=".ui.main.device.ParkingSpacePayActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceNotOwnerActivity" />
        <activity android:name=".ui.account.FindPasswordActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceAppointmentActivity" />
        <activity android:name=".ui.setting.AuthenticateCertActivity" />
        <activity android:name=".ui.account.RetrievePwdActivity" />
        <activity android:name=".ui.main.community.CommunityIdentifyActivity" />
        <activity android:name=".ui.main.device.AddLicensePlateActivity" />
        <activity android:name=".ui.account.AgreementActivity" />
        <activity android:name=".ui.main.community.AppointmentCommunityActivity" />
        <activity android:name=".ui.main.community.AddCommunityActivity" />
        <activity android:name=".ui.main.order.OrderMineActivity" />
        <activity android:name=".ui.main.order.OrderMineDetailActivity" />
        <activity android:name=".ui.setting.WalletMineActivity" />
        <activity android:name=".ui.setting.CustomerServiceMineActivity" />
        <activity android:name=".ui.setting.CommonProblemsActivity" />
        <activity android:name=".ui.main.community.NearbySearchActivity" />
        <!-- <activity android:name=".ui.pay.PayDemoActivity" /> -->
        <activity android:name=".ui.pay.PayOrderActivity" />
        <activity android:name=".ui.pay.activity.TestOnlineActivity" />
        <activity android:name=".ui.pay.activity.PayAliPayActivity" />
        <activity android:name=".ui.pay.activity.PayWechatActivity" />
        <activity android:name=".ui.main.community.AddCommunitySuccessActivity" />
        <activity android:name=".ui.main.community.CommunityListActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceMineActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceIdentityActivity" />
        <activity android:name=".ui.main.share.PublishShareParkingActivity" />
        <activity android:name=".ui.main.device.ReleaseLockActivity" />
        <activity android:name=".ui.main.community.AuthCommunityListActivity" />
        <activity android:name=".ui.main.community.CommunityDeniedActivity" />
        <activity android:name=".ui.main.community.CommunityAuthedActivity" />
        <activity android:name=".ui.main.community.CommunityAuthedBindedActivity" />
        <activity android:name=".ui.setting.MoreOptionsActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceSearchActivity" />
        <activity android:name=".ui.main.nav.Navigation2DActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceMatchActivity" />
        <activity android:name=".ui.main.device.LicenseManagerListActivity" />
        <activity android:name=".ui.main.carport.ParkingSpaceImmMatchingActivity" />
        <activity android:name=".ui.setting.RelativeUsActivity" />
        <activity android:name=".ui.main.NewOfoKeyBoardActivity"></activity>
    </application>

</manifest>